html, body {
  width: 100vw;
  height : 100vh;
  font-family: "Verdana";
  margin : 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
}

h1 {
  text-align : center;
  margin-top : 0.33em;
  margin-bottom : 0.33em;
}

table {
  border : 1px solid black;
  border-collapse: collapse;
  overflow: auto;
}

th, td, tr {
  border : 1px solid black;
}

th {
  background-color: white;
}

td {
  padding: 5px;
  text-align: center;
}

thead {
  position: sticky;
  top: 0;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container:last-child {
  margin-right: 0px;
}

.objet {
  border : 5px outset;
  width: 150px;
  height: 150px;
  margin-right : 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.objet:hover {
  cursor: pointer;
  border-style : inset;
}

img {
  width: inherit;
  height: inherit;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}

#backpack_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background-color: lightgray;
  border-radius: 10px;
  border : 5px solid black;
  margin : 5px;
}

.full {
  background-color: lightcoral !important;
  border : 5px solid red !important;
}

.hidden {
  display: none;
}